<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Configuración</h1>
    <div class="buttons">
      <button class="button" ng-click="closeConfig()">Cerrar</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div ng-controller="ConfigureController as configure">
    <form ng-submit="doConfig()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Código</span>
          <input ng-model="configData.userinbox" name="userinbox" type="text" placeholder="xxxxxxxxx@qwasap.com">
        </label>
        <label class="item item-input">
          <span class="input-label">ID en Qwasap</span>
          <input ng-model="configData.userid" type="text" placeholder="Tu ID numérico > 0">
        </label>
        <div class="item item-divider">
          Refresco de posición
        </div>
        <div class="item range range-positive">
          <i class="icon ion-ios-timer-outline"></i>
          <input ng-model="configData.refreshtime" type="range" name="refresh" min="5" max="360" step="5" value="20">
          <i class="icon ion-ios-timer"></i>
          <p>{{ configure.buildShortTimeString(configData.refreshtime) }}</p>
        </div>
        <div class="item">
          <p>Actualiza tu posición cada</p>
          <h2>{{ configure.buildTimeString(configData.refreshtime) }}</h2>
        </div>
        <div class="item item-divider">
          Desactivación automática
        </div>
        <div class="item range range-positive">
          <i class="icon ion-ios-timer-outline"></i>
          <input ng-model="configData.disabletime" type="range" name="disable" min="20" max="720" step="20" value="120">
          <i class="icon ion-ios-timer"></i>
          <p>{{ configure.buildShortTimeString(configData.disabletime) }}</p>
        </div>
        <div class="item">
          <p>Desactiva la actualización de posición tras</p>
          <h2>{{ configure.buildTimeString(configData.disabletime) }}</h2>
        </div>
      </div>
      <div class="card card-alert" ng-if="trackingData.activetracking">
        <div class="item item-text-wrap item-icon-left">
          <i class="icon ion-alert assertive"></i>
          El seguimiento actualmente activo se detendrá al guardar cambios en la configuración.
        </div>
      </div>
      <div class="padding">
        <button class="button button-block button-positive" type="submit">Guardar</button>
      </div>
    <!-- <pre>configData = {{ configData | json }}</pre> -->
    </div>
  </ion-content>
</ion-modal-view>