<ion-view view-title="Ayuda">
  <ion-content>
  <div ng-controller="HelpCtrl as help">
	<div class="help-content">

		<div class="card">
		  <div class="item item-text-wrap center">
			<img src="img/qwasap.png">
		  </div>
		</div>

		<p><strong>Qwasaploc</strong> ha sido creada para usar conjuntamente con <a href="#" onclick="window.open('https://telegram.me/qwasapbot', '_system', 'location=yes'); return false;">Qwasapbot</a>, el bot de Telegram de <a href="#" onclick="window.open('https://qwasap.com', '_system', 'location=yes'); return false;">Qwasap</a>.</p>

		<p><strong>Qwasap</strong> es una red mundial de comunicación geolocalizada donde la gente puede comunicarse y compartir información en areas geográficas definidas con un radio configurable.</p>

		<div class="card">
		  <div class="item item-text-wrap">
			<p><strong>Esta aplicación sirve para que, si lo deseas, tu localización se actualice automáticamente en caso de estar desplazándote.</strong></p>
		  </div>
		</div>

		<p>Para usarla necesitas tener <a href="#" onclick="window.open('https://telegram.org', '_system', 'location=yes'); return false;">Telegram</a> y estar utilizando <a href="#" onclick="window.open('https://telegram.me/qwasapbot', '_system', 'location=yes'); return false;">Qwasapbot</a>.</p>

		<ul class="list list-inset">
			<li class="item item-text-wrap">Los <strong>parámetros necesarios</strong> para hacer funcionar esta aplicación se obtienen en el bot.</li>
			<li class="item item-text-wrap"><strong>1)</strong> Envía <code>/auto</code> para obtener el código, que es un correo personal con este formato: xxxxxxx@qwasap.com</li>
			<li class="item item-text-wrap"><strong>2)</strong> Tu ID o número personal en Qwasapbot que puedes ver enviando <code>/info</code></li>
			<li class="item item-text-wrap">Con esos datos puedes configurar esta aplicación y activarla o desactivarla cuando quieras.</li>
		</ul>

		<p>Recomendamos dejar el <strong>refresco de posición cada 20 minutos</strong>. La aplicación dejará de enviar actualizaciones de tu ubicación pasado el tiempo que hayas configurado (20 minutos a 6 horas).</p>

		<p>En general, no es necesario activar el GPS; bastará con la ubicación por redes. El <strong>consumo de recursos y batería</strong> de Qwasaploc es <strong>extremadamente bajo</strong>.</p>

		<div class="card">
		  <div class="item item-text-wrap">
			<p>Por favor, para más <strong>información y contacto</strong> visita <a href="" onclick="window.open('https://qwasap.com', '_system', 'location=yes'); return false;">Qwasap</a> en <a href="" onclick="window.open('https://qwasap.com', '_system', 'location=yes'); return false;">qwasap.com</a></p>
		  </div>
		</div>

	</div>
  </div>
  </ion-content>
</ion-view>
