<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Opciones</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close ng-click="config()">
          <i class="icon ion-gear-a"></i>
          Configuración
        </ion-item>
        <ion-item menu-close href="#/app/tracking">
          <i class="icon ion-compass"></i>
          Seguimiento
        </ion-item>
        <ion-item menu-close href="#/app/help">
          <i class="icon ion-help"></i>
          Ayuda
        </ion-item>
        <ion-item menu-close ng-click="switchoff()">
          <i class="icon ion-power assertive"></i>
          Desactivar
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
