<ion-view view-title="Seguimiento">
  <ion-content>
  <div ng-controller="TrackingCtrl as tracking">
  	<div class="card card-alert" ng-if="trackingData.position.res == 'error'">
  	 	<div class="item item-text-wrap item-icon-left">
  	 		<i class="icon ion-alert assertive"></i>
  	 		{{ trackingData.position.data }}
  	 	</div>
  	 	<div class="item item-text-wrap">{{ trackingData.position.msg }}</div>
  	</div>
  	<div class="card card-alert" ng-if="trackingData.missingconfiguration">
  	 	<div class="item item-text-wrap item-icon-left">
  	 		<i class="icon ion-alert assertive"></i>
  	 		Para poder utilizar el seguimiento debes configurar primero la aplicación con los datos que qwaspbot te proporciona con el comando /auto
  	 	</div>
  	</div>

	<ul class="list">
		<li class="">
		     <ion-toggle ng-model="trackingData.activetracking" toggle-class="toggle-balanced" ng-change="tracking.switchTracking()" >Activar seguimiento</ion-toggle>
		</li>
		<li class="item">
			<i class="icon ion-location"></i>
    		Posición actual
    		<span class="item-note">
    		Latitud <strong>{{ trackingData.position.data.coords.latitude }}</strong><br>Longitud <strong>{{ trackingData.position.data.coords.longitude }}</strong>
    		</span>
		</li>
		<li class="item">
			<i class="icon ion-location"></i>
    		Dirección
    		<span class="item-note">
    		{{ trackingData.address }}
    		</span>
		</li>
		<li class="item">
			<i class="icon ion-arrow-graph-up-right"></i>
    		Total posiciones enviadas
    		<span class="badge badge-positive">{{ trackingData.totalsent }}</span>
		</li>		
		<li class="item">
			<i class="icon ion-flash-off"></i>
    		Total errores de notificación
    		<span class="badge badge-assertive">{{  trackingData.totalfailed }}</span>
		</li>
		<li class="item">
			<i class="icon ion-clock"></i>
			Último envío
			<span class="item-note">
			{{ trackingData.timelastsent }}
			</span>
		</li>
		<div class="card card-alert" ng-if="trackingData.lasterror">
		 	<div class="item item-text-wrap item-icon-left">
		 		<i class="icon ion-alert-circled assertive"></i>
		 		Último error de notificación<br>
		 		{{ trackingData.lasterror.statusText | json }}
		 	</div>
		</div>
	</ul>
	<!-- <pre>trackingData = {{ trackingData.response | json }}</pre> -->
  </div>
  </ion-content>
</ion-view>
