/* Empty. Add your own CSS if you like */
.card-alert > div:first-child { background-color: #FFEFEF; }
.card-alert > div:last-child { background-color: #F2F2F2; font-size: 0.9em; color: #AFAFAF; }

.help-content { padding: 10px 16px; }
.help-content .center { text-align: center; }
.help-content code { border: 0px solid gray; background-color: #f3f3f3; padding: 2px 10px; color: gray;}